[user]
  name = Chad Jablonski
  email = chad@dinocore.net
  signingkey = 1D0D827E319B9A94E8797E2C4819EFFEB371573D
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = matching
[github]
  user = cjab
[core]
  excludesfile = ~/.gitignore
  editor = vim
[interactive]
  diffFilter = diff-highlight
[diff]
  compactionHeuristic = true
[pager]
  branch = false
